@model IEnumerable<InventoryManagementSystem.category>

@{
    ViewBag.Title = "Index";
            Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.cat_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cat_status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.cat_name)
        </td>
        <td>
            @{
                if (item.cat_status == Convert.ToByte(1))
                {
                    <text>Active</text>
                }
                else if (item.cat_status == 0)
                {
                    <text>In Active</text>
                }

            }

            @*@Html.DisplayFor(modelItem => item.cat_status)*@
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cat_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.cat_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cat_id })
        </td>
    </tr>
}

</table>
