@model IEnumerable<InventoryManagementSystem.supplier>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.sup_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sup_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sup_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sup_openingBalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.sup_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sup_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sup_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sup_openingBalance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.sup_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.sup_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.sup_id })
        </td>
    </tr>
}

</table>
