@model InventoryManagementSystem.user

@{
    ViewBag.Title = "Details";
            Layout = "~/Views/Shared/_sidePanelPage.cshtml";
}

<h2>Details</h2>

<div>
    <h4>user</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.u_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.u_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.u_username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.u_username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.u_password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.u_password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.u_phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.u_phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.u_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.u_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.u_status)
        </dt>

        <dd>
            @{
                if (Model.u_status == Convert.ToByte(1))
                {
                    <text>Active</text>
                }
                else if (Model.u_status == 0)
                {
                    <text>In Active</text>
                }

            }

            @*@Html.DisplayFor(model => model.u_status)*@
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.role.r_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.role.r_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.u_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
